[submodule "components/MPU6050"]
	path = components/MPU6050
	url = https://github.com/patoGarces/MPU6050_Components_ESP32
[submodule "components/BT_CLASSIC"]
	path = components/BT_CLASSIC
	url = https://github.com/patoGarces/BT_CLASSIC_Components_ESP32
[submodule "components/SBUS_COMMS"]
	path = components/SBUS_COMMS
	url = https://github.com/patoGarces/SBUS_Component_ESP32
[submodule "components/SERVO_CONTROL"]
	path = components/SERVO_CONTROL
	url = https://github.com/patoGarces/SERVO_CONTROL_Components_ESP32
[submodule "components/GPS_UBX"]
	path = components/GPS_UBX
	url = https://github.com/patoGarces/GPS_UBX
[submodule "components/WS2812"]
	path = components/WS2812
	url = https://github.com/patoGarces/WS2812
